/useraccounting/target/classes/application.properties
/useraccounting/target/classes/com/market/beans/LoginForm.class
/useraccounting/target/classes/com/market/beans/UserForm.class
/useraccounting/target/classes/com/market/beans/VcodeForm.class
/useraccounting/target/classes/com/market/config/SecurityConfiguration.class
/useraccounting/target/classes/com/market/config/WebMvcConfig.class
/useraccounting/target/classes/com/market/controller/AccountVerificationController.class
/useraccounting/target/classes/com/market/controller/AuthenticationFailureHandlerImpl.class
/useraccounting/target/classes/com/market/controller/AuthenticationSuccessHandlerImpl.class
/useraccounting/target/classes/com/market/controller/IndexController.class
/useraccounting/target/classes/com/market/controller/LoginController.class
/useraccounting/target/classes/com/market/controller/SignupController.class
/useraccounting/target/classes/com/market/entities/Role.class
/useraccounting/target/classes/com/market/entities/User.class
/useraccounting/target/classes/com/market/entities/VerificationToken.class
/useraccounting/target/classes/com/market/events/OnRegistrationCompleteEvent.class
/useraccounting/target/classes/com/market/events/RegistrationListener.class
/useraccounting/target/classes/com/market/repositories/RoleRepository.class
/useraccounting/target/classes/com/market/repositories/StaticBlackListOnRuntime.class
/useraccounting/target/classes/com/market/repositories/TokenRepository.class
/useraccounting/target/classes/com/market/repositories/UserRepository.class
/useraccounting/target/classes/com/market/security/constraint/FieldMatchValidator.class
/useraccounting/target/classes/com/market/security/constraint/PasswordConstraintValidator.class
/useraccounting/target/classes/com/market/security/constraint/ValidPassword.class
/useraccounting/target/classes/com/market/security/service/DataPrepareService.class
/useraccounting/target/classes/com/market/security/service/TokenService.class
/useraccounting/target/classes/com/market/service/SecurityService.class
/useraccounting/target/classes/com/market/service/UserDetailsServiceImpl.class
/useraccounting/target/classes/com/market/service/UserService.class
/useraccounting/target/classes/com/market/UseraccountingApplication.class
/useraccounting/target/classes/data-mysql.sql
/useraccounting/target/classes/i18n/messages_de.properties
/useraccounting/target/classes/i18n/messages_en.properties
/useraccounting/target/classes/static/css/fonts.css
/useraccounting/target/classes/static/css/index.css
/useraccounting/target/classes/static/css/layout_index.css
/useraccounting/target/classes/static/css/layout_login.css
/useraccounting/target/classes/static/css/layout_signup.css
/useraccounting/target/classes/static/css/layout_verification.css
/useraccounting/target/classes/static/css/theme-login.css
/useraccounting/target/classes/static/images/background03.jpg
/useraccounting/target/classes/templates/index.html
/useraccounting/target/classes/templates/login.html
/useraccounting/target/classes/templates/signup.html
/useraccounting/target/classes/templates/verification.html
/useraccounting/target/classes/templates/welcome.html
/useraccounting/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/useraccounting/target/m2e-wtp/web-resources/META-INF/maven/com.example/useraccounting/pom.properties
/useraccounting/target/m2e-wtp/web-resources/META-INF/maven/com.example/useraccounting/pom.xml
/useraccounting/.classpath
/useraccounting/.project
/useraccounting/.settings/.jsdtscope
/useraccounting/.settings/org.eclipse.core.resources.prefs
/useraccounting/.settings/org.eclipse.jdt.core.prefs
/useraccounting/.settings/org.eclipse.m2e.core.prefs
/useraccounting/.settings/org.eclipse.wst.common.component
/useraccounting/.settings/org.eclipse.wst.common.project.facet.core.xml
/useraccounting/.settings/org.eclipse.wst.jsdt.ui.superType.container
/useraccounting/.settings/org.eclipse.wst.jsdt.ui.superType.name
/useraccounting/.settings/org.eclipse.wst.validation.prefs
/useraccounting/target/classes/static/css/layout-signup-centered.css
/useraccounting/target/classes/static/css/theme-signup-centered.css
/useraccounting/target/classes/templates/signup_centered.html
/useraccounting/target/classes/com/market/formValidators/EmailValidator.class
/useraccounting/target/classes/com/market/formValidators/UsernameValidator.class
/useraccounting/target/classes/com/market/security/validation/EmailValidator.class
/useraccounting/target/classes/com/market/security/validation/helpers/CharSequenceMatcher.class
/useraccounting/target/classes/com/market/security/validation/helpers/KeyboardSequenceMatcher.class
/useraccounting/target/classes/com/market/security/validation/helpers/RepeatMatcher.class
/useraccounting/target/classes/com/market/security/validation/PasswordValidator.class
/useraccounting/target/classes/com/market/security/validation/UsernameValidator.class
/useraccounting/target/classes/com/market/security/constraint/FieldMatch$List.class
/useraccounting/target/classes/com/market/security/constraint/FieldMatch.class
/useraccounting/target/classes/static/css/layout-signup.css
/useraccounting/target/classes/static/css/theme-signup.css
/useraccounting/target/classes/static/css/layout-signup-success.css
/useraccounting/target/classes/static/css/theme-signup-success.css
/useraccounting/target/classes/templates/signup-success.html
/useraccounting/target/classes/static/css/theme.css
/useraccounting/target/classes/static/css/layout-single-form-pages.css
/useraccounting/target/classes/com/market/events/AuthenticationFailureListener.class
/useraccounting/target/classes/com/market/service/LoginAttemptService$1.class
/useraccounting/target/classes/com/market/service/LoginAttemptService.class
s/useraccounting/target/classes/static/js/jquery-3.3.1.min.js
/useraccounting/target/classes/static/js/signup-verification.js
/useraccounting/target/classes/templates/signup-verification.html
/useraccounting/target/classes/com/market/config/WebSocketConfig.class
/useraccounting/target/classes/com/market/controller/ChatController.class
/useraccounting/target/classes/com/market/entities/ChatMessage$MessageType.class
/useraccounting/target/classes/com/market/entities/ChatMessage.class
/useraccounting/target/classes/com/market/events/WebSocketEventListener.class
/useraccounting/target/classes/com/market/entities/OutputMessage.class
/useraccounting/target/classes/static/js/chat.js
/useraccounting/target/classes/static/js/sockjs.min.js
/useraccounting/target/classes/static/js/stomp.min.js
/useraccounting/target/classes/com/market/controller/WelcomeController.class
/useraccounting/target/classes/com/market/controller/LogoutSuccessHandlerImpl.class
/useraccounting/target/classes/static/css/chatbox.css
/useraccounting/target/classes/static/css/chatbox.css
/useraccounting/target/classes/static/css/chatbox.css
/useraccounting/target/classes/com/market/beans/MessageForm.class
/useraccounting/target/classes/com/market/beans/RequestForm.class
/useraccounting/target/classes/com/market/controller/ContributionController.class
/useraccounting/target/classes/com/market/controller/DragAndDropController.class
/useraccounting/target/classes/com/market/controller/OnlineUsersController.class
/useraccounting/target/classes/com/market/controller/RequisitionController.class
/useraccounting/target/classes/com/market/entities/Conversation.class
/useraccounting/target/classes/com/market/entities/UserRequest.class
/useraccounting/target/classes/com/market/repositories/ChatMessageRepository.class
/useraccounting/target/classes/com/market/security/service/AuthenticationFacade.class
/useraccounting/target/classes/com/market/security/service/IAuthenticationFacade.class
/useraccounting/target/classes/com/market/security/validation/RequestValidator.class
/useraccounting/target/classes/com/market/service/ChatService.class
/useraccounting/target/classes/com/market/service/RequestService.class
/useraccounting/target/classes/static/css/drag-and-drop.css
/useraccounting/target/classes/static/css/layout_base.css
/useraccounting/target/classes/static/css/layout_requisition.css
/useraccounting/target/classes/static/css/layout_welcome.css
/useraccounting/target/classes/static/js/greensock/CSSPlugin.js
/useraccounting/target/classes/static/js/greensock/Draggable.js
/useraccounting/target/classes/static/js/greensock/TP.min.js
/useraccounting/target/classes/static/js/greensock/TweenLite.js
/useraccounting/target/classes/static/js/greensock/TweenMax.js
/useraccounting/target/classes/static/js/jquery-3.3.1.min.js
/useraccounting/target/classes/templates/contribution.html
/useraccounting/target/classes/templates/drag-and-drop01.html
/useraccounting/target/classes/templates/fragments/chatbox.html
/useraccounting/target/classes/templates/fragments/my-requests.html
/useraccounting/target/classes/templates/fragments/online-users.html
/useraccounting/target/classes/templates/fragments/request.html
/useraccounting/target/classes/templates/new-request.html
/useraccounting/target/classes/templates/requisition.html
/.gitignore.orig
/useraccounting/target/classes/static/css/leaflet/leaflet.css
/useraccounting/target/classes/static/images/layers.png
/useraccounting/target/classes/static/images/layers-2x.png
/useraccounting/target/classes/static/images/marker-icon.png
/useraccounting/target/classes/static/images/marker-icon-2x.png
/useraccounting/target/classes/static/images/marker-shadow.png
/useraccounting/target/classes/static/js/jquery-ui.min.js
/useraccounting/target/classes/static/js/leaflet/leaflet.js
