/*********************************/
/******COLOR SHEME****************/
/*********************************/

:root {

    --color-red-signal: rgb(230,80,60);
    
    --color-red-light: #FFB789;
    --color-green-light: #B7f081;   
    --color-blue-middle: #4BA7CD;
    
    
    --color-grey-light: rgb(230,230,230);
    --color-grey-middle: rgb(180,180,180);
    --color-grey-dark: rgb(100,100,100);
    --color-grey-almostblack: rgb(30,30,30);

}

/*********************************/
/******BASIC LAYOUT***************/
/*********************************/

body {font-family: Segoe UI;}
* {box-sizing: border-box;}


/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

.top {
    
    float: none;
    padding:8px;
    margin:16px;
    height: 5%;
}

.bottom {
    
    float: none;
    padding:8px;
    margin:16px;
    height: 10%;
}

.left, .right {
  width: 35%;
}

.middle {
    background-color: var(--color-grey-light);  
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 var(--color-grey-light), 0 6px 20px 0 var(--color-grey-almostblack);    
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*********************************/
/******STYLE THE INPUTFIELDS******/
/*********************************/

.input-section {margin-bottom: 16px;}

label {padding-left: 2px;}

input {
    width: 100%;      
    margin: 6px 1;
    border: 2px solid var(--color-grey-dark);
    border-radius: 4px;
    margin: 8px 0 0 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    padding-left: 40px; /**Advance the placeholder to the left**/
}

input:focus {
    border-color: var(--color-blue-middle);
    box-shadow: 0 0 8px 0 var(--color-blue-middle);
    padding-left: 40px; /**Advance the placeholder to the left**/
}

/************************/
/****STYLE THE ICONS*****/
/************************/

.inputWithIcon {position: relative;}

.icon {
    
    width: 20px; height: 20px; /*Size of Icon*/
    background-color: transparent;
    fill: var(--color-grey-middle);
    stroke: var(--color-grey-middle);  
    transition: 0.3s;

    /*Position the icon inside the input field*/
    position:absolute;
    left: 12; /*Advance Icon to the left*/
    top: 37px;/*Advance Icon downwards*/       
}

/************************/
/****STYLE THE ALERT*****/
/************************/

.alert-box {
    width: 100%;
    padding-left: 10px;
    padding-right:10px;    
    border: none;
    background-color: transparent;
    border-radius: 4px;
    box-sizing: border-box;
}

.alert-text {
    font-size: small;
    color: var(--color-red-signal);
    padding-left: 32px;
}


/************************/
/****STYLE THE BUTTONS***/
/************************/

button {
    color: black; /*Textcolor*/
    border: none;
    padding: 16px 32px;
    margin-bottom: 8px;
    text-align: center;
    text-decoration: none;
    font-family: "Segoe UI";
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.submitbtn {
    background-color: white;
    color: var(--color-grey-dark); /*Textcolor*/
}

.submitbtn:hover {
    background-color: var(--color-green-light); 
    color: var(--color-grey-almostblack);
}

.cancelbtn {
    background-color: white;
    color: var(--color-grey-dark);
}

.cancelbtn:hover {
    background-color: var(--color-red-light); 
    color: var(--color-grey-almostblack);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .submitbtn {
    float: left;
    width: 100%;
}