
/* Color Sheme */
:root {

    --color-red-light: #FFB789;
    --color-green-light: #B7f081;   
    --color-blue-middle: #4BA7CD;
    
    
    --color-grey-light: rgb(230,230,230);
    --color-grey-middle: rgb(180,180,180);
    --color-grey-dark: rgb(100,100,100);
    --color-grey-almostblack: rgb(30,30,30);

}

body {font-family: Segoe UI;}
* {box-sizing: border-box;}


/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

.top {
    
    float: none;
    padding:8px;
    margin:16px;
    height: 5%;
}

.bottom {
    
    float: none;
    padding:8px;
    margin:16px;
    height: 10%;
}

.left, .right {
  width: 35%;
}

.middle {
    background-color: var(--color-grey-light);  
    width: 30%;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 var(--color-grey-light), 0 6px 20px 0 var(--color-grey-almostblack);    
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/************************/
/******Input Fields******/
/************************/
input[type=text] {
    width: 100%;      
    margin: 6px 1;
    border: 2px solid var(--color-grey-dark);
    border-radius: 4px;
    margin: 8px 0 0 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}

input[type=password] {
    width: 100%;      
    margin: 6px 1;
    border: 2px solid var(--color-grey-dark);
    border-radius: 4px;
    margin: 8px 0 0 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
}

input[type=text]:focus {
    border-color: var(--color-blue-middle);
    box-shadow: 0 0 8px 0 var(--color-blue-middle);
}

input[type=password]:focus {
    border-color: var(--color-blue-middle);
    box-shadow: 0 0 8px 0 var(--color-blue-middle);
}

.inputWithIcon input[type=text] {
    padding-left: 40px;
}

input[type=password] {
    width: 100%;
    padding: 10px;  
    margin: 8px 0;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.3s;
}

.inputWithIcon input[type=password] {
    padding-left: 40px;
}


.inputWithIcon {
    position: relative;
}


.inputWithIcon i{
    color:white;
    background-color: var(--color-grey-dark);
    position:absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px;
    border-radius: 4px 0 0 4px;
    transition: 0.3s;
}

.inputWithIcon [type=text]:focus + i {
    background-color: var(--color-blue-middle);
}

.inputWithIcon [type=password]:focus + i {
    background-color: var(--color-blue-middle);
}



.input-section {
    margin-bottom: 16px;
}

label {
    padding-left: 2px;
}

.alert-box {
    width: 100%;
    padding-left: 10px;
    padding-right:10px;    
    border: none;
    background-color: var(--color-red-light);
    border-radius: 4px;
    box-sizing: border-box;
}

.alert-text {
    font-size: small;
}

/* Button style */
button {
    color: black; /*Textcolor*/
    border: none;
    padding: 16px 32px;
    margin-bottom: 8px;
    text-align: center;
    text-decoration: none;
    font-family: "Segoe UI";
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.submitbtn {
    background-color: white;
    color: var(--color-grey-dark); /*Textcolor*/
}

.submitbtn:hover {
    background-color: var(--color-green-light); 
    color: var(--color-grey-almostblack);
}

.cancelbtn {
    background-color: white;
    color: var(--color-grey-dark);
}

.cancelbtn:hover {
    background-color: var(--color-red-light); 
    color: var(--color-grey-almostblack);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .submitbtn {
    float: left;
    width: 100%;
}