
/* Color Sheme */
:root {

	--color-red-light: #D8A48D;
	--color-red-middle: #B96643;
	--color-red-dark: #713B24;

	--color-green-light: #AAD38F;	
    --color-green-middle: #7CBA53;
    --color-green-dark: #4A722F;
    
    
    --color-blue-light: #6B889D;
    --color-blue-middle: #315B78;
    --color-blue-dark: #1A3548;
    
    --color-grey-light: #BFBFBF;
    --color-grey-middle: #9C9C9C;
    --color-grey-dark: #5F5F5F;
    --color-grey-almostblack: #2F2F2F;

}

body {font-family: Segoe UI;}
* {box-sizing: border-box;}


/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

.top {
    
    float: none;
    padding:8px;
    margin:16px;
    height: 5%;
}

.bottom {
    
    float: none;
    padding:8px;
    margin:16px;
    height: 10%;
}

.left, .right {
  width: 35%;
}

.middle {
	background-color: var(--color-grey-light);	
  	width: 30%;
	border-radius: 8px;
	box-shadow: 0 8px 16px 0 var(--color-grey-almostblack), 0 6px 20px 0 var(--color-grey-light);
    background-color: var(--color-blue-light);
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.input-section {
    margin-bottom: 16px;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;

}

label {
    padding-left: 2px;
}

.icon {
    
    color: var(--color-grey-almostblack);
    min-width: 40px;
    text-align: center;
    width: 10%;
    padding: 13px 20px;
    margin: 5px;
    
}

.fa {
    font-size: 22px !important;
}

.input-field {
    width: 90%;
    padding: 10px;  
    margin: 8px 0;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-field:focus {
    border: 2px solid var(--color-blue-light);
}



/* Button style */
button {
	color: black; /*Textcolor*/
    border: none;
    padding: 16px 32px;
    margin-bottom: 8px;
    text-align: center;
    text-decoration: none;
    font-family: "Segoe UI";
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.submitbtn {
    background-color: white;
    color: var(--color-grey-dark); /*Textcolor*/
}

.submitbtn:hover {
    background-color: var(--color-green-light); 
    color: var(--color-grey-almostblack);
}

.cancelbtn {
    background-color: white;
    color: var(--color-grey-dark);
}

.cancelbtn:hover {
    background-color: var(--color-red-light); 
    color: var(--color-grey-almostblack);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .submitbtn {
    float: left;
    width: 100%;
}