/*********************************/
/******COLOR SHEME****************/
/*********************************/

:root {

    --color-red-signal: rgb(230,80,60);
    
    --color-white-creme: rgb(255,255,245);
    
    --color-red-light: #FFB789;
    --color-green-light: #B7f081;
    --color-blue-middle: #4BA7CD;
    
    
    --color-grey-light: rgb(230,230,230);
    --color-grey-middle: rgb(180,180,180);
    --color-grey-dark: rgb(100,100,100);
    --color-grey-almostblack: rgb(50,50,50);

}

/*********************************/
/******BASE***********************/
/*********************************/
* {
	box-sizing: border-box;
	margin: 0;
	font-family: Segoe UI, Verdana;
}


h1 {font-size: 50px;}
h2 {font-size: 30px;}
h3 {font-size: 20px;}
p  {font-size: 18px;}

a {
	/*SKIN*/
	color: var(--color-white-creme);
	
	/*Layout*/
	display: block;
    text-align: center;
    
    /*Content*/
    font-size: 16px;
    text-decoration: none;
}

a:hover {
	color: var(--color-blue-middle);
}


/*THEME*/
.header {background-color: var(--color-grey-dark);}

.footer {background-color: var(--color-grey-dark);}



/************************/
/*MODULES inside HEADER**/
/************************/

/**************Icon Logo***********************/
/*LAYOUT*/
.icon-container {position: relative;}

/*LAYOUT*/
.icon-big {		
	width: 60px; height: 60px;     
    position:absolute;
    left: -35px; 
    top: -30px;          
}

.icon-big-form {
	width: 70px; height: 70px;     
    position:absolute;
    left: -35px; 
    top: -35px;    
}

/**************Dropdown menu********************/
/*LAYOUT*/
.l-dropdown_content {
	width: 80px;
	padding: 10px;
    position: absolute;
    left: -8px; 
    top: -22px; 
    z-index: 1;
}
/*LAYOUT*/
.dropdown {position: relative;}

/*STATE-HIDDEN*/
.is-hidden {display: none;}
/*STATE-VISIBLE*/
.dropdown:hover .is-hidden {display: block;}

/*THEME*/
.skin-dropdown_content {background-color: var(--color-grey-dark);}
/**THEME**/
.styled {font-style: italic;}


/************************/
/*MODULES inside MAIN****/
/************************/

/*LAYOUT*/
.l-container {
	padding: 20px;
}

/*THEME*/
.skin-container {	
	border-radius: 5px;
	background-color: var(--color-grey-light);
}

/*THEME*/
.skin-container_text {	
	color: var(--color-grey-almostblack);
}



/************************/
/****STYLE THE BUTTONS***/
/************************/

button {
	background-color: var(--color-white-creme);
    color: var(--color-grey-almostblack);
    border: none;    
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.submitbtn {
	padding: 16px 32px;
    margin-bottom: 8px;
    background-color: var(--color-white-creme);
    color: var(--color-grey-dark); /*Textcolor*/
}

.submitbtn:hover {
	padding: 16px 32px;
    margin-bottom: 8px;
    background-color: var(--color-green-light); 
    color: var(--color-grey-almostblack);
}

.cancelbtn {
	padding: 16px 32px;
    margin-bottom: 8px;
    background-color: var(--color-white-creme);
    color: var(--color-grey-dark);
}

.cancelbtn:hover {
	padding: 16px 32px;
    margin-bottom: 8px;
    background-color: var(--color-red-light); 
    color: var(--color-grey-almostblack);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .submitbtn {
    float: left;
    width: 100%;
}

/*********************************/
/******STYLE THE INPUTFIELDS******/
/*********************************/

.input-section {margin-bottom: 16px;}

label {
	color: var(--color-grey-almostblack);
	padding-left: 6px;

}

.empty label {
	display: none;	
}

input {
	background-color: var(--color-white-creme);
    width: 100%;      
    margin: 6px;
    border: 1px solid var(--color-grey-dark);
    border-radius: 4px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    padding-left: 40px; /**Advance the placeholder to the left**/
}

input:focus {
    border-color: var(--color-blue-middle);
    box-shadow: 0 0 8px 0 var(--color-blue-middle);
    padding-left: 40px; /**Advance the placeholder to the left**/
}

/************************/
/****STYLE THE ICONS*****/
/************************/

.clock {	
	font-size: 20px;
	color: var(--color-blue-middle);
	font-weight: bold;   
	margin: 0px !important;
	padding: 5px !important;
	text-align: center;   	
}


.icon-skin {
	background-color: var(--color-grey-dark);
    fill: var(--color-white-creme);     
    transition: 0.3s;
}

.icon-skin-form {	
    fill: var(--color-grey-dark);  
    transition: 0.3s;
}

.icon-skin:hover {
	
	fill: var(--color-blue-middle);
    
    
}

.inputWithIcon {position: relative;}

.icon {
    
    width: 20px; height: 20px; /*Size of Icon*/
    background-color: transparent;
    fill: var(--color-grey-middle);
    stroke: var(--color-grey-middle);  
    /*Position the icon inside the input field*/
    position:absolute;
    left: 12; /*Advance Icon to the left*/
    top: 37px;/*Advance Icon downwards*/       
}

.l-icon {
	width: 20px; height: 20px; /*Size of Icon*/
    background-color: transparent;
    fill: var(--color-grey-middle);
    stroke: var(--color-grey-middle);  
    /*Position the icon inside the input field*/
    position:absolute;
    left: 13; /*Advance Icon to the right*/
    top: 13px;/*Advance Icon downwards*/   
}



/************************/
/****STYLE THE ALERT*****/
/************************/

.alert-box {
    width: 100%;
    padding-left: 10px;
    padding-right:10px;    
    border: none;
    background-color: transparent;
    border-radius: 4px;
    box-sizing: border-box;
}

.alert-text {
    font-size: small;
    color: var(--color-red-signal);
    text-align: center;
}

/************************/
/****TEXT SKIN***********/
/************************/

.s-dark {
	color: var(--color-grey-almostblack);	
}







