/*********************************/
/******COLOR SHEME****************/
/*********************************/

:root {

    --color-red-signal: rgb(230,80,60);
    
    --color-white-creme: rgb(255,255,245);
    
    --color-red-light: #FFB789;
    --color-green-light: #B7f081;
    --color-blue-middle: #4BA7CD;
    
    
    --color-grey-light: rgb(230,230,230);
    --color-grey-middle: rgb(180,180,180);
    --color-grey-dark: rgb(100,100,100);
    --color-grey-almostblack: rgb(50,50,50);

}

/*********************************/
/******BASE***********************/
/*********************************/
* {
	box-sizing: border-box;
	margin: 0;
	font-family: Segoe UI, Verdana;
}


h1 {font-size: 50px;}
h2 {font-size: 30px;}
h3 {font-size: 20px;}
p  {font-size: 18px;
	text-align: center;}

a {
	/*SKIN*/
	color: var(--color-white-creme);
	
	/*Layout*/
	display: block;
    text-align: center;
    
    /*Content*/
    font-size: 16px;
    text-decoration: none;
}

a:hover {
	color: var(--color-blue-middle);
}

/******************************************************************/
/*BODY LAYOUT FOR INDEX********************************************/
/******************************************************************/

/*Declaring the area variables*************************************/
.bs01 {grid-area: bs01;}    .b02 {grid-area: b02;}  .bs03 {grid-area: bs03;}
.bs04 {grid-area: bs04;}    .b05 {grid-area: b05;}	.bs06 {grid-area: bs06;}
.bs07 {grid-area: bs07;}    .b08 {grid-area: b08;}	.bs09 {grid-area: bs09;}

.body-container {
  display: grid;
  
  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: minmax(80px, auto)
  					  minmax(570px, auto) 
  					  80px;
  
  grid-template-areas:

/*Actual displayed order*******************************************/ 
  "bs01 b02 bs03"
  "bs04 b05 bs06"
  "bs07 b08 bs09";
}



/************************/
/*MODULES inside BODY****/
/************************/

/**************Header********************/
/*THEME*/
.header {background-color: var(--color-grey-dark);}

/**************Spacer********************/

/**************Main**********************/


/**************Footer********************/
.footer {background-color: var(--color-grey-dark);}

/******************************************************************/
/*HEADER LAYOUT****************************************************/
/******************************************************************/

/*Declaring the area variables*************************************/
.h01 {grid-area: h01;}  .h02 {grid-area: h02;}  .h03 {grid-area: h03;}  
.h04 {grid-area: h04;}  .h05 {grid-area: h05;}  .h06 {grid-area: h06;}
.h07 {grid-area: h07;}  .h08 {grid-area: h08;}  .h09 {grid-area: h09;}
.h10 {grid-area: h10;}

.b02 {
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-items: center;
  align-items: center;
  grid-template-areas: 

/*Actual displayed order*******************************************/
  "h01 h02 h03 h04 h05 h06 h07 h08 h09 h10";
}

/************************/
/*MODULES inside HEADER**/
/************************/

/**************Icon Logo***********************/
/*LAYOUT*/
.icon-container {position: relative;}

/*LAYOUT*/
.icon-big {		
	width: 60px; height: 60px;     
    position:absolute;
    left: -35px; 
    top: -30px;          
}

.icon-big-form {
	width: 70px; height: 70px;     
    position:absolute;
    left: -35px; 
    top: -35px;    
}

/**************Dropdown menu********************/
/*LAYOUT*/
.l-dropdown_content {
	width: 80px;
	padding: 10px;
    position: absolute;
    left: -8px; 
    top: -22px; 
    z-index: 1;
}
/*LAYOUT*/
.dropdown {position: relative;}

/*STATE-HIDDEN*/
.is-hidden {display: none;}
/*STATE-VISIBLE*/
.dropdown:hover .is-hidden {display: block;}

/*THEME*/
.skin-dropdown_content {background-color: var(--color-grey-dark);}
/**THEME**/
.styled {font-style: italic;}

/******************************************************************/
/*MAIN LAYOUT******************************************************/
/******************************************************************/

/*Declaring the area variables*************************************/
.m01 {grid-area: m01;} .m02 {grid-area: m02;}
.m03 {grid-area: m03;} .m04 {grid-area: m04;}
.m05 {grid-area: m05;} .m06 {grid-area: m06;}

.b05 {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 60px 
  					  auto
  					  60px;
  grid-template-areas: 
/*Actual displayed order*******************************************/
  "m01 m02"
  "m03 m04"
  "m05 m06";
}



/************************/
/*MODULES inside MAIN****/
/************************/

/*LAYOUT*/
.l-container {
	padding: 20px;
}

/*THEME*/
.skin-container {	
	border-radius: 5px;
	background-color: var(--color-grey-light);
}

/*THEME*/
.skin-container_text {	
	color: var(--color-grey-almostblack);
}

.l-label01{grid-area: label01;}
.l-input01{grid-area: input01;}
.l-error01{grid-area: error01;}

.l-label02{grid-area: label02;}
.l-input02{grid-area: input02;}
.l-error02{grid-area: error02;} 

.l-label03{grid-area: label03;}
.l-input03{grid-area: input03;}
.l-error03{grid-area: error03;}  

.l-input04{grid-area: input04;}
.l-error04{grid-area: error04;}

.l-spacer{grid-area: spacer;}  

.l-button01{grid-area: button01;}
.l-button02{grid-area: button02;}  


.m04 {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 20px 50px 20px 20px 50px 20px 20px 50px 40px 50px 20px 20px 1fr 1fr;
	
  	align-items: center;
	grid-template-areas: "label01"
						 "input01"
						 "error01"
						 
						 "label02"
						 "input02"
						 "error02"
						 
						 "label03"
						 "input03"
						 "error03"
						 
						 "input04"
						 "error04"
						 
						 "spacer"

						 "button01"
						 "button02"

}

/************************/
/****STYLE THE BUTTONS***/
/************************/

button {
	background-color: var(--color-white-creme);
    color: var(--color-grey-almostblack);
    border: none;    
    text-align: center;
    text-decoration: none;
    
    font-size: 16px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.submitbtn {
	padding: 16px 32px;
    margin-bottom: 8px;
    background-color: var(--color-white-creme);
    color: var(--color-grey-dark); /*Textcolor*/
}

.submitbtn:hover {
	padding: 16px 32px;
    margin-bottom: 8px;
    background-color: var(--color-green-light); 
    color: var(--color-grey-almostblack);
}

.cancelbtn {
	padding: 16px 32px;
    margin-bottom: 8px;
    background-color: var(--color-white-creme);
    color: var(--color-grey-dark);
}

.cancelbtn:hover {
	padding: 16px 32px;
    margin-bottom: 8px;
    background-color: var(--color-red-light); 
    color: var(--color-grey-almostblack);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .submitbtn {
    float: left;
    width: 100%;
}

/*********************************/
/******STYLE THE INPUTFIELDS******/
/*********************************/

.input-section {margin-bottom: 16px;}

label {
	color: var(--color-grey-almostblack);
	padding-left: 6px;

}

.empty label {
	display: none;	
}

input {
	background-color: var(--color-white-creme);
    width: 100%;      
    margin: 6px;
    border: 1px solid var(--color-grey-dark);
    border-radius: 4px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    padding-left: 40px; /**Advance the placeholder to the left**/
}

input:focus {
    border-color: var(--color-blue-middle);
    box-shadow: 0 0 8px 0 var(--color-blue-middle);
    padding-left: 40px; /**Advance the placeholder to the left**/
}

/************************/
/****STYLE THE ICONS*****/
/************************/

.clock {	
	font-size: 20px;
	color: var(--color-blue-middle);
	font-weight: bold;   
	margin: 0px !important;
	padding: 5px !important;
	text-align: center;   	
}


.icon-skin {
	background-color: var(--color-grey-dark);
    fill: var(--color-white-creme);
    stroke: var(--color-white-creme);  
    transition: 0.3s;
}

.icon-skin-form {	
    fill: var(--color-grey-dark);  
    transition: 0.3s;
}

.icon-skin:hover {
	
	fill: var(--color-blue-middle);
    stroke: var(--color-blue-middle);
    
}

.inputWithIcon {position: relative;}

.icon {
    
    width: 20px; height: 20px; /*Size of Icon*/
    background-color: transparent;
    fill: var(--color-grey-middle);
    stroke: var(--color-grey-middle);  
    /*Position the icon inside the input field*/
    position:absolute;
    left: 12; /*Advance Icon to the left*/
    top: 37px;/*Advance Icon downwards*/       
}

.l-icon {
	width: 20px; height: 20px; /*Size of Icon*/
    background-color: transparent;
    fill: var(--color-grey-middle);
    stroke: var(--color-grey-middle);  
    /*Position the icon inside the input field*/
    position:absolute;
    left: 13; /*Advance Icon to the right*/
    top: 13px;/*Advance Icon downwards*/   
}



/************************/
/****STYLE THE ALERT*****/
/************************/

.alert-box {
    width: 100%;
    padding-left: 10px;
    padding-right:10px;    
    border: none;
    background-color: transparent;
    border-radius: 4px;
    box-sizing: border-box;
}

.alert-text {
    font-size: small;
    color: var(--color-red-signal);
    text-align: center;
}

/************************/
/****TEXT SKIN***********/
/************************/

.s-dark {
	color: var(--color-grey-almostblack);	
}


/******************************************************************/
/*MOBILE LAYOUT****************************************************/
/******************************************************************/
@media(max-width: 768px) {
/*Hide all spacer**************************************************/
[class*="bs"] {display: none;}  
.body-container {
  grid-template-columns: 1fr;
  grid-template-rows: auto;      
  grid-template-areas:
/*Reordering body areas********************************************/ 
  "b02"
  "b05"
  "b08";
}

.b02 {
  grid-template-columns: 1fr;
  grid-template-rows: 	minmax(80px, auto) 
  						minmax(40px, auto)
  						minmax(40px, auto)
  						minmax(40px, auto)
  						minmax(40px, auto)
  						minmax(80px, auto);
  			
  						
  grid-template-areas: 
/*Reordering header areas******************************************/
  "h01"
  "h02"
  "h03"
  "h08"
  "h09"
  "h10";
}

.b05 {
  grid-template-columns: 1fr;
  grid-template-rows: 	auto
  						auto;
  grid-template-areas:
/*Reordering main content areas************************************/

  "m03"
  "m04";
}

}


