body {
  margin: 0px;
  background-image: url('../images/background03.jpg');
  background-repeat: no-repeat;
  background-position: 50% 80%; 
}

p {text-align: center;}

/******************************************************************/
/*BODY LAYOUT******************************************************/
/******************************************************************/

/*Declaring the area variables*************************************/
.bcs01 {grid-area: bcs01;}    .bc02 {grid-area: bc02;}  .bcs03 {grid-area: bcs03;}
.bcs04 {grid-area: bcs04;}    .bc05 {grid-area: bc05;}  .bcs06 {grid-area: bcs06;}
.bcs07 {grid-area: bcs07;}    .bc08 {grid-area: bc08;}  .bcs09 {grid-area: bcs09;}

.body-container-center {
  display: grid;  
  grid-template-columns: 7fr 9fr 7fr;
  grid-template-rows: minmax(20px, auto)
                      minmax(570px, auto) 
                      80px;
  grid-template-areas:
/*Actual displayed order*******************************************/ 
  "bcs01 bc02 bcs03"
  "bcs04 bc05 bcs06"
  "bcs07 bc08 bcs09";  
}

/******************************************************************/
/*MAIN LAYOUT SIGNUP ITEMS*****************************************/
/******************************************************************/

.dropdown {
	display: inline-block;
	position: relative;
	justify-self: right;
	top: 14px;
	left: 20px;
}

.centered-form-spacer{height: 30px;}

.centered-form-header{height: 60px;}

.centered-form-logo {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-form-caption {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-form-description {
  height: 40px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered-form-input {
  height: 50px; 
  justify-self: stretch;
  position: relative;
}

.centered-form-alert {
  height: 30px;
}

.centered-form-submit {
  height: 50px;
  justify-self: stretch;
  justify-items: center;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
}

.centered-form-meter {
  height: 30px;
  justify-self: stretch;
  justify-items: left;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.centered-form-code {
  height: 50px;  
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.centered-form-message {
  height: auto; 
  justify-self: stretch;
  position: relative;
}

.centered-form-location {
  height: 70px;  
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 50px 30px;
  align-items: center;
  justify-items: center;
}

.bc05 {
  padding: 30px;
  padding-top: 0px;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 1fr;
}

.dropdown {
  justify-self: right;
}

.dropdown ul {
	width: 80px;	
	padding: 0;	
	position: absolute;
	top: 50%;
	min-width: 90%;
}

.centered-footer {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-self: stretch;
  justify-items: center;
  align-items: center;
}

.centered-footer-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 1024px) {
  /*Hide all spacer**************************************************/
  [class*="bcs"] {display: none;}  
  .body-container-center {
    grid-template-columns: 1fr;
    grid-template-rows: auto;      
    grid-template-areas:
  /*Reordering body areas********************************************/ 
    "bc02"
    "bc05"
    "bc08";
  }
  
  .centered-form-meter {
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
  align-items: center;
  }

  .bc05 {
    padding: 10px;
    padding-top: 0px;
  }
  
	.dropdown {
	display: inline-block;
	position: relative;
	top: 10px;
	left: 0px;
  }

}

