.chatbox {
	padding: 1em;
	grid-gap: 1em;
	background: var(--color-grey-dark);
	display: grid;
	max-height: 500px;
	grid-template-columns: 1fr;
	grid-template-rows: 60px 200px 100px 40px;
}

.chat-with {
	background: var(--color-grey-dark);
	color: var(--color-white-creme);
}

.conversation {
	padding: 1em;
	background: var(--color-white-creme);
	color: var(--color-grey-dark);
}

.message textarea {
	padding: 1em;
	width: 100%;
    border: none;
    resize: none;
  	outline: none;
	background: var(--color-white-creme);
	color: var(--color-grey-dark);
}

.send {
	background: var(--color-grey-dark);
	color: var(--color-white-creme);
}