body {
  margin: 0px;
  background-image: url('../images/background03.jpg');
  background-repeat: no-repeat;
  background-position: 50% 80%; 
}

p {text-align: center;}

/******************************************************************/
/*BODY LAYOUT******************************************************/
/******************************************************************/

/*Declaring the area variables*************************************/
.bcs01 {grid-area: bcs01;}    .bc02 {grid-area: bc02;}  .bcs03 {grid-area: bcs03;}
.bcs04 {grid-area: bcs04;}    .bc05 {grid-area: bc05;}  .bcs06 {grid-area: bcs06;}
.bcs07 {grid-area: bcs07;}    .bc08 {grid-area: bc08;}  .bcs09 {grid-area: bcs09;}

.body-container-center {
  display: grid;  
  grid-template-columns: 7fr 9fr 7fr;
  grid-template-rows: minmax(20px, auto)
                      minmax(570px, auto) 
                      80px;
  grid-template-areas:
/*Actual displayed order*******************************************/ 
  "bcs01 bc02 bcs03"
  "bcs04 bc05 bcs06"
  "bcs07 bc08 bcs09";  
}

/******************************************************************/
/*MAIN LAYOUT SIGNUP***********************************************/
/******************************************************************/

/*Declaring the area variables*************************************/
.centered-form-header{grid-area: header; justify-self: stretch;}
.centered-form-logo {grid-area: logo;}
.centered-form-caption {grid-area: caption;}
.centered-form-description {grid-area: description;}
.centered-form-spacer01 {grid-area: spacer01;}
.centered-form-input01 {grid-area: input01; justify-self: stretch;}
.centered-form-bar01 {grid-area: bar01; justify-self: stretch;}
.centered-form-alert01 {grid-area: alert01; justify-self: stretch;}
.centered-form-spacer02 {grid-area: spacer02;}
.centered-form-input02 {grid-area: input02; justify-self: stretch;}
.centered-form-bar02 {grid-area: bar02; justify-self: stretch;}
.centered-form-alert02 {grid-area: alert02; justify-self: stretch;}
.centered-form-spacer03 {grid-area: spacer03;}
.centered-form-input03 {grid-area: input03; justify-self: stretch;}
.centered-form-bar03 {grid-area: bar03; justify-self: stretch;}
.centered-form-alert03 {grid-area: alert03; justify-self: stretch;}
.centered-form-meter {grid-area: meter; justify-self: stretch;}
.centered-form-input04 {grid-area: input04; justify-self: stretch;}
.centered-form-bar04 {grid-area: bar04; justify-self: stretch;}
.centered-form-alert04 {grid-area: alert04; justify-self: stretch;}
.centered-form-spacer05 {grid-area: spacer05;}
.centered-form-submit {grid-area: submit; justify-self: stretch;}
.centered-form-spacer04 {grid-area: spacer05; justify-self: stretch;}

.bc05 {
  padding: 30px;
  padding-top: 0px;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr;
  grid-template-rows: 
                      40px  /*header*/
                      80px  /*logo*/
                      40px  /*caption*/
                      40px  /*description*/

                      30px  /*spacer01*/
                                
                      30px  /*input01*/
                      2px   /*bar01*/
                      40px  /*alert01*/

                      20px  /*spacer02*/
                                  
                      30px  /*input02*/
                      2px  /*bar02*/
                      40px  /*alert02*/

                      20px  /*spacer03*/

                      30px  /*input03*/
                      2px  /*bar03*/
                      40px  /*alert03*/

                      20px /*meter*/

                      30px  /*input04*/
                      2px  /*bar04*/
                      40px  /*alert04*/

                      20px /*spacer05*/

                      50px  /*submit*/

                      20px; /*spacer06*/
              
              
  justify-items: center;
  align-items: center;
  grid-template-areas: 

/*Actual displayed order*******************************************/
  
  "header"
  "logo"
  "caption"
  "description"
  
  "spacer01"
  
  /*Username*/
  "input01"
  "bar01"
  "alert01"
  
  "spacer02"
  
  /*Email*/
  "input02"
  "bar02"
  "alert02"

  "spacer03"
  
  /*Password*/
  "input03"
  "bar03"
  "meter"
  "alert03"

  /*Password Confirm*/
  "input04"
  "bar04"
  "alert04"
    
  "spacer05"
  
  "submit"
  
  "spacer06";
}

.centered-form-header {
  justify-self: right;
}

.cancel {
  justify-self: left;
}

.dropdown {
  justify-self: right;
}

.centered-form-meter {
  
  display: grid;
  grid-template-columns: 3fr 2fr;
  justify-items: left;
  align-items: center;
}

.centered-form-submit {
  display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    
}

.centered-footer {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
    align-items: center;
}

@media(max-width: 1024px) {
  /*Hide all spacer**************************************************/
  [class*="bcs"] {display: none;}  
  .body-container-center {
    grid-template-columns: 1fr;
    grid-template-rows: auto;      
    grid-template-areas:
  /*Reordering body areas********************************************/ 
    "bc02"
    "bc05"
    "bc08";
  }
  
  .centered-form-meter {
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: left;
  align-items: center;
  }

  .bc05 {
    padding: 10px;
    padding-top: 0px;
  }

}

