body {
	margin: 0px;
	background-image: url('../images/background03.jpg');
	background-repeat: no-repeat;
    background-position: 50% 80%; 
}

p {
	text-align: center;
}

/******************************************************************/
/*BODY LAYOUT LOGIN************************************************/
/******************************************************************/

/*Declaring the area variables*************************************/
.bcs01 {grid-area: bcs01;}    .bc02 {grid-area: bc02;}  .bcs03 {grid-area: bcs03;}
.bcs04 {grid-area: bcs04;}    .bc05 {grid-area: bc05;}	.bcs06 {grid-area: bcs06;}
.bcs07 {grid-area: bcs07;}    .bc08 {grid-area: bc08;}	.bcs09 {grid-area: bcs09;}

.body-container-center {
  display: grid;
	
  grid-template-columns: 8fr 9fr 8fr;
  grid-template-rows: minmax(80px, auto)
  					  minmax(570px, auto) 
  					  80px;
  
  grid-template-areas:

/*Actual displayed order*******************************************/ 
  "bcs01 bc02 bcs03"
  "bcs04 bc05 bcs06"
  "bcs07 bc08 bcs09";
	
}

/******************************************************************/
/*MAIN LAYOUT Login************************************************/
/******************************************************************/

/*Declaring the area variables*************************************/

.centered-form-logo {grid-area: logo;}
.centered-form-caption {grid-area: caption;}
.centered-form-description {grid-area: description;}

.centered-form-spacer01 {grid-area: spacer01;}


.centered-form-input01 {grid-area: input01; justify-self: stretch;}
.centered-form-bar01 {grid-area: bar01; justify-self: stretch;}


.centered-form-input02 {grid-area: input02; justify-self: stretch;}
.centered-form-bar02 {grid-area: bar02; justify-self: stretch;}
.centered-form-alert {grid-area: alert; justify-self: stretch;}

.centered-form-spacer02 {grid-area: spacer02;}

.centered-form-submit {grid-area: submit; justify-self: stretch;}
.centered-form-footer {grid-area: footer;} 

.bc05 {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 1fr;
  grid-template-rows: 
  					  80px  /*logo*/
  					  40px  /*caption*/
  					  40px  /*description*/
  					  
  					  40px	/*spacer01*/
  					  					  
  					  50px  /*input01*/
  					  20px	/*spacer02*/
  					    					  
  					  50px  /*input02*/
  					  20px  /*spacer03*/
  					  20px	/*alert*/
  					  
  					  20px	/*spacer04*/
  					  
  					  1fr  /*submit*/
  					  40px; /*footer*/
  justify-items: center;
  align-items: center;
  grid-template-areas: 

/*Actual displayed order*******************************************/
  
  "logo"
  "caption"
  "description"
  "spacer01"
  "input01"
  "bar01"
  "input02"
  "bar02"
  "alert"
  "spacer02"  
  "submit"
  "footer";
}

.centered-form-submit {
	display: grid;
  	grid-template-columns: 2fr 1fr 2fr;
  	justify-items: center;
  	align-items: center;
  	
}

@media(max-width: 768px) {
  /*Hide all spacer**************************************************/
  [class*="bcs"] {display: none;}  
  .body-container-center {
    grid-template-columns: 1fr;
    grid-template-rows: auto;      
    grid-template-areas:
  /*Reordering body areas********************************************/ 
    "bc02"
    "bc05"
    "bc08";
  }

}

