/*********************************/
/******COLOR SHEME****************/
/*********************************/

:root {

    --color-red-signal: rgb(235,116,100);
    
    --color-white-creme: rgb(230,230,230);
    
    --color-red-light: #FFB789;
    --color-green-light: #B7f081;
    --color-blue-middle: #4BA7CD;
    
    
    --color-grey-light: rgb(230,230,230);
    --color-grey-middle: rgb(180,180,180);
    --color-grey-dark: rgb(100,100,100);
    --color-grey-almostblack: rgb(50,50,50);

}

/*********************************/
/******BASE***********************/
/*********************************/
* {
	box-sizing: border-box;
	margin: 0;
}


input {	
	box-sizing: border-box;
	padding: 10px 10px 10px 5px;	
	-webkit-appearance: none;
	display: block;
	background-color: var(--color-grey-dark);
	color: var(--color-white-creme);
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 2px solid var(--color-white-creme);
	padding-left: 40px; /**Advance the placeholder to the left**/
}

label {
	color: var(--color-white-creme);
	padding-left: 6px;

}


input:focus {
	outline: none;
	padding-left: 40px; /**Advance the placeholder to the left**/
}

a {
	/*SKIN*/
	color: var(--color-white-creme);
	
	/*Layout*/
	display: block;
    text-align: center;    
    text-decoration: none;
}

a:hover {
	color: var(--color-blue-middle);
}

.list-anchor {
	font-size: 0.8em;
	color: var(--color-grey-dark);
}

.list-anchor:hover {
color: var(--color-grey-dark);
}

.inputWithIcon {position: relative;}

.icon-skin-form {	
    fill: var(--color-blue-middle);  
    transition: 0.3s;
}


.s-light {
	color: var(--color-white-creme);	
}

/************************/
/****STYLE THE BUTTONS***/
/************************/

button {
	background-color: var(--color-white-creme);
    color: var(--color-grey-almostblack);
    border: none;    
    text-align: center;
    text-decoration: none;
    
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.submitbtn {
	padding: 16px 32px;
    margin-bottom: 8px;
    background-color: var(--color-white-creme);
    color: var(--color-grey-dark); /*Textcolor*/
}

.submitbtn:hover {
	padding: 16px 32px;
    margin-bottom: 8px;
    background-color: var(--color-green-light); 
    color: var(--color-grey-dark); /*Textcolor*/
}

.cancelbtn {
	padding: 16px 32px;
    margin-bottom: 8px;
    background-color: var(--color-white-creme);
    color: var(--color-grey-dark);
}

.cancelbtn:hover {
	padding: 16px 32px;
    margin-bottom: 8px;
    background-color: var(--color-red-light); 
    color: var(--color-grey-almostblack);
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .submitbtn {
    float: left;
    width: 100%;
}

.skin-container {	
	border-radius: 6px;
	background-color: var(--color-grey-dark);
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}


.l-icon {
	width: 20px; height: 20px; /*Size of Icon*/
    background-color: transparent;
    fill: var(--color-grey-middle);
    stroke: var(--color-grey-middle);  
    /*Position the icon inside the input field*/
    position:absolute;
    left: 13; /*Advance Icon to the right*/
    top: 8px;/*Advance Icon downwards*/   
}

.icon-container {position: relative;}


.icon-big-form {
	width: 70px; height: 70px;     
    position:absolute;
    left: -35px; 
    top: -35px;    
}

/**************Dropdown menu********************/
.dropdown {
	display: inline-block;
	position: relative;
	top: 20px;
	left: 20px;
}

.dropdown-button {
	width: 80px;
	height: 30px;
	font-size: 0.8em;
	text-align: center;
  	text-decoration: none;
	padding: 8px;
	margin-bottom: 8px;
	background-color: var(--color-white-creme);
	color: var(--color-grey-dark); /*Textcolor*/	  
	box-sizing: border-box; 
	position: relative;
	cursor: pointer;
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.dropdown-button:hover {
	background-color: var(--color-blue-middle); 
	color: var(--color-grey-dark); /*Textcolor*/
	transition: background .3s ease;
}

.dropdown ul {
	width: 80px;
	visibility: hidden;
	background: var(--color-white-creme);
	padding: 0;
	list-style: none;
	position: absolute;
	left: 0;
	margin-top: 0px;
	top: 85%;
	min-width: 90%;
}

.dropdown li {
	background: var(--color-white-creme);
	padding: 8px 10px 8px 15px;
	box-sizing: border-box;
	cursor: pointer;
	transition: background .3s ease;
}

.dropdown li:hover {
	background: var(--color-blue-middle);
}

/* Underline */

.bar01 {
	position: relative;
	display: block;
	width: 100%;
}

.bar01:before, .bar01:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 0px;
	position: absolute;
	background: var(--color-blue-middle);
	-webkit-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.bar01:before {
	left: 50%;
}
.bar01:after {
	right: 50%;
}

input:focus ~ .bar01:before, input:focus ~ .bar01:after {
	width: 50%;
	box-shadow: 0 0 8px 0 var(--color-blue-middle);
}

@media(max-width: 1024px) {
	.skin-container {	
	border-radius: 0px;
	box-shadow: none;
	}

	.dropdown {
	display: inline-block;
	position: relative;
	top: 10px;
	left: 0px;
	}
}

