<html xmlns:th="http//thymeleaf.org">

<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8">
<title>Index</title>
</head>

<body>
	
	<!-- Header -->
	
	<!-- Space left -->
	<div class="col-1 header">
		<div class="side-spacer"></div>
	</div>
	
	<div class="topmenu">
	
		<div class="col-1 header">
			<div class="headerMenuItem">c1</div>
		</div>
		
		<div class="col-1 header">
			<div class="headerMenuItem">c2</div>
		</div>
		
		<div class="col-1 header">
			<div class="headerMenuItem">c3</div>
		</div>
		
		<div class="col-1 header">
			<div class="headerMenuItem">c4</div>
		</div>
		
		<div class="col-3 header">
			<div class="headerMenuItem">
			<!--Search-->
        		<div class="input-section">
          			<div class="inputWithIcon">                   
            		<!--INPUTFIELD-->
            		<input class="input" type="text" name="search" placeholder="search" >                    
                    </div>
				</div>
			</div>
		</div>
		
		<div class="col-1 header">
			<div class="headerMenuItem">c8</div>
		</div>
		
		<div class="col-1 header">
			<div class="headerMenuItem">
			<button class="button" onclick="window.location.href='/'" type="submit">Login</button>
			</div>
		</div>
		
		<div class="col-1 header left">
			<div class="headerMenuItem">
			<button class="button" onclick="window.location.href='signup'" type="submit">Signup</button>	  		
			</div>
		</div>
	
	</div>
	
	
	<!-- Space right -->
	<div class="col-1 header">
		<div class="side-spacer"></div>
	</div>
	
	
	
	<!-- Main content -->
	<div class="row main">

		<div class="col-12">
			<div class="top-spacer">top-spacer</div>
		</div>
		
		<div class="col-1">
			<div class="side-spacer">spacer-left</div>
		</div>

		<div class="col-5">
			<h1>The Market</h1>
			<p>A place where you can request anything!</p>
		</div>

		<div class="col-5 right">
			<div class="aside">
				<form action="">

		        <!--Username-->
		        <div class="input-section">
		          <div class="inputWithIcon">
		            <!--LABEL------->
		            <label></label>                   
		            <!--INPUTFIELD-->
		            <input type="text" name="uname">                    
		            <!--ICON-------->          
		            
		                  
		          </div>
		          
		          </div>
		        </div>
		        
		
		        
		      </form>
			</div>
		</div>
		
		<div class="col-1">
			<div class="side-spacer">spacer-right</div>
		</div>
		
		<div class="col-12">
			<div class="bottom-spacer">bottom-spacer</div>
		</div>
		
	</div>

	<!-- Footer -->
	<div class="col-1 footer">
		<div class="side-spacer">spacer-left</div>
	</div>
	
	<div class="col-10 footer">
		<div class="footermenu">footermenu</div>
	</div>
	
	<div class="col-1 footer">
		<div class="side-spacer">spacer-right</div>
	</div>

	
</body>

</html>
