<html xmlns:th="http//thymeleaf.org">

	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
		<title>Index</title>
	</head>

	<body>
		<div class="topnav">
			<button class="button" onclick="window.location.href='/'" style="float:left" type="submit">Home</button>
	  		<button class="button" onclick="window.location.href='/'" style="float:left" type="submit">Explore</button>
	  		<button class="button" onclick="window.location.href='/'" style="float:left" type="submit">Support</button>
	  		
	  		<button class="button" onclick="window.location.href='signup_responsive'" style="float:right" type="submit">Sign up</button>
	  		<button class="button" onclick="window.location.href='/'" style="float:right" type="submit">Login</button>	  		
	  	</div>

		<div class="row">
			<div class="column">Content</div>

			<div class="column">

				<div th:each="user : ${theUsers}">
					<div th:text="${user.userName}"></div>						
						<div th:each="request : ${user.requests}"> 
							<div th:text="${request.requestName}"></div>
							<div th:text="${request.requestText}"></div>
						</div> 
				</div>
				
			</div>

			<div class="column">Content</div>
		</div>

	</body>

</html>
