<html xmlns:th="http//thymeleaf.org">

<div th:fragment="online-users">
	<link rel="stylesheet" type="text/css" th:href="@{/css/online-users.css}">

	<div class="user-list">

		<h3>Online users</h3>

		<ul class="list" th:each="user : ${users}">

			<li class="user-item">
				
				<div class="centered-form-input">
					<svg class="l-icon" style="position: relative"><use xlink:href="#icon-user"></use></svg>
				</div>
				
				<div class="about">
					<div class="name" th:text="${user}"></div>
				</div>
			
			</li>

		</ul>

	</div>

</div>