<html xmlns:th="http//thymeleaf.org">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/forms.css}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
	<title>SignUp</title>
</head>

<body>

	<div class="header"><h2></h2></div>

	<div class="row">

		<div class="column side"></div>			
		
			<div class="column middle">

				<form action="#" th:action="@{/action}" th:object="${userForm}" method="post">

					<!--Username-->
					<div class="form-group">
						<label for="name" class="cols-sm-2 control-label">Username (Name that other users will see)</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="uname" placeholder="Enter a username" th:field="*{uname}">
								
							</div>
						</div>
					</div>
					<div class="alert" th:if="${#fields.hasErrors('uname')}" th:errors="*{uname}"></div>


					<!--Email-->
					<div class="form-group">
						<label for="email" class="cols-sm-2 control-label">Email (Your Email will not be exposed to other users)</label>
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
								<input type="text" class="form-control" name="email" placeholder="Enter your contact e-mail" th:field="*{email}">		
							</div>
						</div>
					</div>
					<div class="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
					

					<!--Password-->
					<div class="form-group">
						<label for="pwd" class="cols-sm-2 control-label">Password</label>
						
						<div class="cols-sm-10">
							<div class="input-group">
								<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
								<input type="password" class="form-control" name="pwd" placeholder="Create a password" th:field="*{pwd}">	
							</div>
						</div>
						<div class="alert" th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"></div>

						<div class="cols-sm-10">
							<div class="input-group">
							<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
							<input type="password" class="form-control" name="pwdConfirm" placeholder="Confirm password" th:field="*{pwdConfirm}">
							</div>
						</div>
						<div class="alert" th:if="${#fields.hasErrors('pwdConfirm')}" th:errors="*{pwdConfirm}"></div>
					</div>
			    				
                	<div>
                		<p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms &amp; Conditions</a>.</p>
                	</div>

		 			<div class="submitcontainer">
        				<button type="submit" name="action" value="cancel" class="cancelbtn">Cancel</button>
        				<button type="submit" name="action" value="verify" class="submitbtn">Sign Up</button>
      				</div>

				</form>
			</div>			
	</div>
	
</body>
</html>