<html xmlns:th="http//thymeleaf.org">

<head>
  <link rel="stylesheet" type="text/css" th:href="@{/css/forms_responsive.css}" >
  
  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SignUp</title>
</head>

<body>

  <header class="top">
    
  </header>

  <div class="row">

    <div class="column left"></div>

    <div class="column middle">
      
      <form action="#" th:action="@{/action}" th:object="${userForm}" method="post">

        <!--Username-->
        <div class="input-section">
          <label for="uname" th:text="#{form.signup.username}"></label>
          <div class="input-container">              
            <input class="input-field" type="text" name="uname" th:placeholder="#{form.signup.username.placeholder}" th:field="*{uname}">
            <i class="fa fa-user icon"></i>
          </div>
          <div class="alert-box"><p class="alert-text" th:if="${#fields.hasErrors('uname')}" th:errors="*{uname}"></div>
        </div>

        <!--Email-->
        <div class="input-section">
          <label for="email" th:text="#{form.signup.email}"></label>
          <div class="input-container">                               
            <input class="input-field" type="text" name="email" th:placeholder="#{form.signup.email.placeholder}" th:field="*{email}">
            <i class="fa fa-envelope icon"></i>      
          </div>
          <div class="alert" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
        </div>

        <!--Password-->
        <div class="input-section">
          <label for="pwd" th:text="#{form.signup.pwd}"></label>
          <div class="input-container">           
            <input class="input-field" type="password" name="pwd" th:placeholder="#{form.signup.pwd.placeholder}" th:field="*{pwd}">
            <i class="fa fa-key icon"></i>
          </div>
          <div class="alert" th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"></div>
          
          <!--Password confirm-->
          <div class="input-container">    
            <input class="input-field" type="password" name="pwdConfirm" th:placeholder="#{form.signup.pwdconfirm.placeholder}" th:field="*{pwdConfirm}">
            <i class="fa fa-key icon"></i>
          </div>
          <div class="alert" th:if="${#fields.hasErrors('pwdConfirm')}" th:errors="*{pwdConfirm}"></div>        
        </div>

        <!--Agreement-->
        <div>
          <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms &amp; Conditions</a>.</p>
        </div>

        <!--Submit area-->
        <div>
          <button type="submit" name="action" value="verify" class="submitbtn">Sign Up</button>
          <button type="submit" name="action" value="cancel" class="cancelbtn">Cancel</button>            
        </div>
      </form>
    </div>


    <div class="column right"></div>

  </div>

  <footer class="bottom">
    
  </footer>
  
</body>
</html>