<html xmlns:th="http//thymeleaf.org">

<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8">
<title th:text="#{form.vcode.title}"></title>
</head>

<script>
function next(next) {
  document.getElementById(next).focus();
}
</script>

<body class="body-container-center">

	<!-- Space left --> 
	<div class="bcs1"></div>

	<!-- Header -->
	<div class="bc02"></div>
	
	<!-- Space right --> 
	<div class="bcs03"></div>

	<!-- Space left --> 
	<div class="bcs04"></div>
	
	<form action="#">
	
	<!-- Main content -->
	<div class="l-container bc05 skin-container">
	
	
	
		<div class="centered-form-logo">
		<div class="icon-container"> 
				<svg class="icon-big-form icon-skin-form"><use xlink:href="#icon-logo"></use></svg>
		</div>
		</div>
		
		<div class="centered-form-caption"><h2 class="s-dark" th:text="#{form.vcode.vcode.caption}"></h2></div>
		<div class="centered-form-description"><p class="s-dark" th:text="#{form.vcode.description}"></p></div>

							
			<!-- Verificationcode -->
			<table class="centered-form-input01">
			<tr>
			  <td><input class="clock" type="text" maxlength="1" size="1" onkeyup="next(2)"></td>
			  <td><input id="2" class="clock" type="text" maxlength="1" size="1" onkeyup="next(3)"></td>
			  <td><input id="3" class="clock" type="text" maxlength="1" size="1" onkeyup="next(4)"></td>
			  <td><input id="4" class="clock" type="text" maxlength="1" size="1" onkeyup="next(5)"></td>
			  <td><input id="5" class="clock" type="text" maxlength="1" size="1" onkeyup="next(6)"></td>
			  <td><input id="6" class="clock" type="text" maxlength="1" size="1"></td>
			</tr>
			</table>
				
			<!--Alertbox----------------------------------------------------------->
			<p class="centered-form-error01 alert-text">your code has been expired!</p>
		
			<!--Submit section-->
			<button type="submit" 
				class="centered-form-submit01 submitbtn" th:text="#{form.button.verify}"></button>
			
	</div>
	
	</form>
	
	
	<!-- Space right --> 
	<div class="bcs06"></div>
    
    <div class="bcs07"></div>

    <div class="bc08"></div>

    <div class="bcs09"></div>
	
		
	<!--SVG ICONS Recsource-->
  	<svg style="display:none">  
	    <symbol id="icon-user" viewBox="0 0 16 15" width="100%" height="100%">
	      <circle id="path3731" cx="8.0095701" cy="4.210526" r="3.7492054" />
	    <path d="M 8.0025625,9 A 7.0212142,6.2493242 0 0 0 0.98121724,15.248355 7.0212142,6.2493242 0 0 0 1,15.681262 H 15.000002 A 7.0212142,6.2493242 0 0 0 15.02391,15.248355 7.0212142,6.2493242 0 0 0 8.0025645,9 Z" id="path3733" />
	    </symbol>
	
	    <symbol id="icon-email" viewBox="0 0 16 15" width="100%" height="100%">
	      <path id="rect4587" d="M 1 4 L 1 12 L 15 12 L 15 4 L 1 4 z M 1.5 5.59375 L 14.5 5.59375 L 8 9 L 1.5 5.59375 z "/>
	    </symbol>
	
	    <symbol id="icon-lock" viewBox="0 0 16 15" width="100%" height="100%">
	      <rect id="rect4593" width="14" height="7" x="1" y="7"></rect>
	    <path style="fill:none;stroke-width:2px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" d="M 2,9 C 2,0 14,0 14,9 v 0 z" id="path4595" inkscape:connector-curvature="0" sodipodi:nodetypes="cccc"></path>
	    </symbol>
	    
	    <symbol id="icon-logo" width="100%" height="100%" viewBox="0 0 16 15">
			    <g id="layer1">
		    <g transform="translate(-0.75130096,-1.1490485)" id="g1435">
		      <g id="g1413"
			transform="matrix(0.90677966,0,0,0.90341772,0.13295703,2.2351204)">
		        <circle r="2.2097087" cy="11.094446" cx="6.9384851"
			id="path1376" />
		        <circle r="1.403165" cy="8.0119019" cx="13.534466"
			id="path1382" />
		        <g id="g1403">
		          <circle id="path1378" cx="3.1267376" cy="2.9958642"
			r="1.2263883" />
		          <circle id="path1380" cx="8.8056889" cy="6.2220387"
			r="0.9612233" />
		          <path d="M 3.0935921,3.051107 6.2534755,9.8791073 Z"
			id="path1386" />
		          <path d="M 7.0931649,9.9895923 8.617864,6.6971262 Z"
			id="path1388" />
		          <path d="M 7.3141358,11.094447 13.169863,8.2439224 Z"
			id="path1390" />
		        </g>
		      </g>
		      <path
			
			d="M 10.750504,3.2460878 A 4.9386744,4.931834 0 0 0 5.8109212,8.1772061 4.9386744,4.931834 0 0 0 5.8205912,8.4202553 4.4940569,4.4940569 0 0 1 10.305514,4.1082475 4.4940569,4.4940569 0 0 1 14.798902,8.6016354 4.4940569,4.4940569 0 0 1 10.403459,13.092605 4.9386744,4.931834 0 0 0 10.7505,13.109535 4.9386744,4.931834 0 0 0 15.688873,8.1772071 4.9386744,4.931834 0 0 0 10.7505,3.2460888 Z"
			id="path1415" />
		    </g>
	    </symbol>
  	</svg>

	
</body>

</html>
