<html xmlns:th="http//thymeleaf.org">
    <head>
        <title>Welcome</title>
        <script type="text/javascript" th:src="@{/js/sockjs.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/stomp.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/chat.js}"></script>
    </head>
    <body onload="disconnect()">
        <div>
            <div>
                <input type="text" id="from" placeholder="Choose a nickname"/>
            </div>
            <br />
            <div>
                <button id="connect" onclick="connect();">Connect</button>
                <button id="disconnect" disabled="disabled" onclick="disconnect();">
                    Disconnect
                </button>
            </div>
            <br />
            <div id="conversationDiv">
                <input type="text" id="text" placeholder="Write a message..."/>
                <button id="sendMessage" onclick="sendMessage();">Send</button>
                <p id="response"></p>
            </div>
        </div>
    </body>
</html>